<% title "Labour #{@labour.name}", false %>

<% titre = "Labour #{@labour.name} #{star_ascii(@labour)}" %>

<% lien1 = link_to "Annuler", @labour %>
<% title = "<span class=title>#{titre}</span><span class=link>#{lien1}</span>" %>

<div id="title_h1">
	<%= title %>
</div>

<%= render :partial => 'form' %>
