<h1>Editing verif</h1>

<% form_for(@verif) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @verif %> |
<%= link_to 'Back', verifs_path %>