<% title "Ventes", false %>

<% titre = "Ventes" %>

<% lien1 = link_to 'Nouvelle vente', new_vente_path %>
<div id="title_h1">
	<span class=title><%= titre %></span>
	<span class=link><%= lien1 %></span>
</div>

<% tot=0 %>
<% @ventes.each { |vente| tot+= vente.prix } %>
total ventes = <%= tot %>

<%= draw_table_with_find_js(Application::VENTE_HEAD, @ventes, 'ventes', :search => true, :sort => 3) %>




