<table class=table_data>
  <tr class=bold>
    <td>Nom</td>
    <td class=center>Nombre de parcelles</td>
    <td></td>
    <% if admin? %>
		<td></td>
	<% end %>
  </tr>
<% @typecultures.each do |typeculture| %>
  <tr>
    <td><%= typeculture.name %></td>
    <td class=center><%= typeculture.parcelles.find_by_saison.size %></td>
    <td><%= link_to_show (Typeculture, typeculture) %></td>
    <% if admin? %>
		<td><%= link_to 'Supprimer', typeculture, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>