<h1>Listing produits</h1>

| <%= link_to 'Nouveau produit', new_produit_path %> |
<br />
<br />
<%#= draw_table_with_find(Application::PULVE_HEAD, @pulves, 'pulves', 'index', params) %>
<%= draw_table(Application::PRODUIT_HEAD, @produits) %>

<br />




