body {
  background-color: #fff;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  color: #222
}

a img {
  border: none;
}

a { color: #0000FF; }
a.link_yellow:hover { background-color: #F0F6FC; }


/* div principaux. mise en page. */
#container {
	position :absolute;
  top: 10px;
  left: 160px;
	background-color: #fff;
	padding: 10px 20px;
	border: solid 1px black;
}

#bloc_left{
	position :absolute;
	top: 10px;
	left: 2px;
	width: 138px;
	border: solid 1px black;
	padding: 5px;
	background-color: #FFF;
}

#bloc_up{
	position :absolute;
	top: 1px;
	right: 2px;
	width: auto;
	border: solid 1px black;
	padding: 2px;
	background-color: #FFF;
}

/* div secondaires */

h3.show_table {
	margin-top: 23px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
/*	border-top: 1px solid #6B90DA; */
	background-color: #EBEFF9;
}

h1 {
  font-size: 20px;	
	margin-top: 23px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #6B90DA;
	background-color: #EBEFF9;
}

#title_h1 {
	margin-top: 0px;
	border-top: 1px solid #6B90DA;
	margin-bottom:20px;
	background-color: #EBEFF9;
}

#title_h1 .title {
 	font-size: 20px;
	font-weight:bold;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#title_h1 .link a {
	padding-left: 15px;
	text-decoration:none;
}
#title_h1 .link a:hover {text-decoration:underline; }

/* div flash notice and error */
#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.clear {
  clear: both;
}



.fieldWithErrors {
  display: inline;
}
.fieldWithErrors input {
  border: 1px solid red;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}
#errorExplanation ul {
  margin: 2px 24px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}


.colors, .task, .tag{border-left:10px solid #eee; padding-left:10px;}
.task{border-color:#999; margin:2em 0;}

/* COULEURS */

.bold 	{ font-weight:bold; }
.red 		{ color: #AA0033;}
.green 	{ color: #00FF00;}
.black 	{ color: black;}
.grey 	{ color: #666666;}

.bg-blue				{ color: #F0F6FC;}
.bg-blue-title	{ color: #EBEFF9;}
.bg-yellow 			{ color: #FFFFBB;}

.sep-grey 	{ color: #DDDDDD;}
.sep-blue 	{ color: #6B90DA;}

/* POSITIONS */
.center 	{ text-align: center;}

/* FORM */

.text_field:focus { background-color: #FFFFBB; }
.text_field { 
	background-color: #F0F6FC; 
	font-weight: bold;
	}


/* .table_print tr:hover { background-color: #eee; } */
