/* Begin : Table Datas : Category, Zone, Parcelle, User, ... */

.table_data { border-collapse:collapse }
.table_data { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1em; }

.table_data td, th, tr { 
	text-align: left;
	 border-style:solid; 
	border-width:1px;
	border-color:grey;
	padding-left: 20px;
 }

.table_data th.right{ text-align: left; }
.table_data td.right{ text-align: left; }
.table_data tr.bold{ font-weight: bold; }
.table_data td.bold{ font-weight: bold; }
.table_data td.center{ text-align: center; }
.table_data td.right{ text-align: right; }
.table_data tr:hover { background-color: #eee;}

/* End : Table Datas */

/* Begin : Table print */

.table_print { border-collapse:collapse }
.table_print { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1em; }

.table_print td, th, tr { 
 border-width:1px;
 border-style:solid; 
 border-color:grey;
 }

.table_print tr:hover { background-color: #eee; }
.table_print tr.subtotal { color: green; }
.table_print tr.total { color: red; }
.table_print span.td-total { font-weight:700; }


.table_print td, tr{ text-align: right; padding-right: 10px; }

.table_print td.saison{ background-color: #eecfa1; }
.table_print th.saison{ background-color: #eecfa1; }

.table_print th.left{ text-align: left; padding-right: 10px; /*width: 25em;*/ }
.table_print td.left{ text-align: left; padding-right: 10px; /*width: 25em;*/ }
.table_print td.date{ max-width: 7em; padding-right: 10px; text-align: left; }

.table_print td.even { background-color: #FFFACD; padding-right: 8px; }
.table_print td.even-head { background-color: #FFFACD; text-align:left; padding-right: 8px; }
.table_print td.even_subtotal { background-color: #eecfa1; padding-right: 8px; }

.table_print td.odd { text-align: left; background-color: #e0eee0; padding-right: 8px; }
.table_print td.odd-head { text-align: left; background-color: #e0eee0; padding-right: 8px; }
.table_print td.odd_subtotal { text-align: left; background-color: #c1cdc1; padding-right: 8px; }

/* End : Table list */

/* Begin : Verif */

.table_verif { 
	border: 1px;
	border-style :solid;
 	border-collapse:collapse; 
}

.table_verif td, th { 
 border-width: 1px;
 border-style: solid; 
 border-color: grey;
 text-align: left;
} 

.table_verif td.true { background-color: green; }
.table_verif td.false { background-color: red; }
.table_verif td.green { background-color: green; }
.table_verif td.red { background-color: red; }
.table_verif td.orange { background-color: orange; }

/* End : Verif */

/* Begin : affichage info-bulle */
.popup legend { background-color: white;}
fieldset.popup  { background-color: white;}

.table_popup td, th { 
 border-width: 0px;
 border-style: none; 
 border-color: white;
} 

td.td-right { text-align: right; }
td.td-left { text-align: left; }

a.tip { 
	position: relative; 
	color: black;
	text-decoration:none;
}

a.tip span {
	display: none;
	position: absolute;
	text-align: left;
	top: 20px;
	left: -10px;
	min-width: 250px;
	width: auto;
	padding: 2px;
	z-index: 100;
	background: orange;
	color: black;
	border: 1px solid black;
	-moz-border-radius: 5px; /* this works only in camino/firefox */
	-webkit-border-radius: 5px; /* this is just for Safari */
}

a:hover.tip span { display: block; }
a:hover.tip {font-size: 99%; /*for IE bug*/ }

/* End : affichage info-bulle */

