/* Begin : Table list */

.table_print { border-collapse:collapse }

.table_print td, th, tr { 
 border-width:1px;
 border-style:solid; 
 border-color:grey;
 }

.table_print tr:hover { background-color: #eee; }
.table_print tr.subtotal { color: green; }
.table_print tr.total { color: red; }
.table_print td.td-total { font-weight:700; }


.table_print td, tr{ text-align: right; }

.table_print th.left{ text-align: left; }
.table_print td.left{ text-align: left; }

.table_print td.even { background-color: #FFFACD; }
.table_print td.even-head { background-color: #FFFACD; text-align:left; }
.table_print td.even_subtotal { background-color: #eecfa1; }

.table_print td.odd { background-color: #e0eee0; }
.table_print td.odd-head { background-color: #e0eee0; text-align:left; }
.table_print td.odd_subtotal { background-color: #c1cdc1; }

/* End : Table list */

/* Begin : Verif */

.table_verif { 
	border: 1px;
	border-style :solid;
 	border-collapse:collapse; 
}

.table_verif td, th { 
 border-width: 1px;
 border-style: solid; 
 border-color: grey;
 text-align: left;
} 

.table_verif td.true { background-color: green; }
.table_verif td.false { background-color: red; }
.table_verif td.green { background-color: green; }
.table_verif td.red { background-color: red; }
.table_verif td.orange { background-color: orange; }

/* End : Verif */

/* Begin : affichage info-bulle */
.popup legend { background-color: white;}
fieldset.popup  { background-color: white;}

.table_popup td, th { 
 border-width: 0px;
 border-style: none; 
 border-color: white;
} 

td.td-right { text-align: left; }
td.td-left { text-align: right; }

a.tip { 
	position: relative; 
	color: black;
	text-decoration:none;
}

a.tip span {
	display: none;
	position: absolute;
	text-align: left;
	top: 20px;
	left: -10px;
	min-width: 250px;
	width: auto;
	padding: 2px;
	z-index: 100;
	background: orange;
	color: black;
	border: 1px solid black;
	-moz-border-radius: 5px; /* this works only in camino/firefox */
	-webkit-border-radius: 5px; /* this is just for Safari */
}

a:hover.tip span { display: block; }
a:hover.tip {font-size: 99%; /*for IE bug*/ }

/* End : affichage info-bulle */

