

.div_contain_header_for_scroll { 
	padding: 0; 
	margin: 0; 
	width: 900px; 
	overflow: auto;
}

.header_for_scroll {
	padding: 0; 
	margin: 0; 
	border: 1px solid grey; 
	border-collapse:collapse;
}
.header_for_scroll td{ 
	padding: 0; 
	margin: 0; 
	font-weight:bold;
	border: 1px solid grey; 
}

.div_contain_table_scroll { 
	padding: 0; 
	margin: 0; 
	height: 600px; 
	width: 920px; 
	overflow: auto;
}

.table_scroll {
	padding: 0; 
	margin: 0; 
/*	width: 900px;*/
	border: 1px solid grey; 
	border-collapse:collapse;
}

.table_scroll td { 
	padding: 0; 
	margin: 0; 
	border: 1px solid grey; 
}

td.col1 	{width: 130px; text-align:left;}
td.col2 	{width: 150px; text-align:left;}
td.col3 	{width: 250px; text-align:left;}
td.col4, td.col5	{width: 160px; text-align:center;}
td.col4.1, td.col5.1, td.col6.1 {width: 80px; text-align:right;}
td.col4.2, td.col5.2, td.col6.2 {width: 80px; text-align:right;}


/*button.btn-hide { display: inline;}

#btn-show { display: none;}

*/