<h1>Listing pulves</h1>

| <%= link_to 'Nouveau pulve', new_pulve_path %> |

<br />
<br />

<%= draw_table_with_find(Application::PULVE_HEAD, @pulves, 'pulves', 'index', params) %>

<br />
<br />
surface totale : <%= @sum_all_surfaces %>




