
<div class=div_contain_table_scroll>
	<table class="table_scroll table_data">
	<!-- <table class=table_data> -->
	  <tr>
	    <th class=bold>Nom</th>
	    <th></th>
	    <% if admin? || edit_access? %>
			<th></th>
		<% end %>
	  </tr>

	<% @users.each do |user| %>
	<tr ondblclick="<%= remote_function(
						:update => 'user_body', 
						:url => {:action => 'show_user', :id => user}) 
					%>">
	    <td><%= user.name %></td>
	    <td><%=	link_to_remote	get_img_show(), 
			:url => {:action => 'show_user', :id => user},
			:update => 'user_body'
		%></td> 
	    <% if admin? || edit_access? %>
			<td><%= link_to_delete(User, user.id) %></td>
		<% end %>
		
	  </tr>
	<% end %>
	</table>
</div>
