
<% title "Facture (diverse)" %>
<%= render :partial => 'factures/show_diverse' %>

<h3>Nouvelle facture diverse</h3>	
<%= render :partial => "form" %>

<h2>Factures associees</h2>
<% unless @facture.facdivs.empty? %>
	<%= render :partial => "factures/list_facdivs" %>
<% end %>
