<% title "Parcelles" %>

<% unless Parcelle.find_by_saison(:all).length.eql?(0) %>
	<%= render :partial => 'list' %>
<% end %>
<br />

<h2>Nouvelle parcelle</h2>
<%= render :partial => 'form' %>
<%= link_to 'Retour', parcelles_path %>