<% title "Preparation du fichier xls", false %>
<% titre = "Pulves" %>
<% lien1 = button_to("Preparer le fichier", :action => :prepare_pulves) %>
<% lien2 = button_to("Lire le fichier", :action => :import_pulves) %>

<div id="title_h1">
	<span class=title><%= titre %></span>
	<span class=link><%= lien1 %></span>
</div>

