<h1>Listing upcategories</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for upcategory in @upcategories %>
  <tr>
    <td><%=h upcategory.name %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle Upcategory', new_upcategory_path %>
