<% if @facture.comptable_diff?  %>
<h3>Comptabilisation : "diff"</h3>
<p>La valeur effectivement prise en compte dans la comptabilisation<br>
correspond au cout de la facture moins la sommes des charges qui lui sont associees</p>
	<table>
		  <tr>
		    <td>Cout facture : </td>
		    <td><b><%= @facture.cout.display %> €</b></td>
		  </tr>
		  <tr>
		    <td>Valeur des charges associees : </td>
		    <td><b>- <%= @facture.sum_charges %> €</b></td>
		  </tr>
		  <tr>
		    <td>Valeur comptable de la facture : </td>
		    <td><b>= <%= (@facture.cout - @facture.sum_charges).display %> €</b></td>
		  </tr>
	</table>
<% end %>	
