<% unless @facture.factoparcelles.empty? %>
<div id="show_table">
	<h3>Parcelles</h3>
		<ul>
		<% @facture.factoparcelles.each do |factoparcelle| %>
			<li><%=h factoparcelle.value %>: <%=h factoparcelle.parcelle.name %></li>
		<% end %>
		</ul>
</div>
<% end %>
