<h1>Listing saisons</h1>

<table>
  <tr>
    <th>Saison</th>
  </tr>

<% @saisons.each do |saison| %>
  <tr>
    <td><%=h saison.name %></td>
    <td><%= link_to 'Modifier', edit_saison_path(saison) %></td>
    <% if admin? %>
		<td><%= link_to 'Destroy', saison, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Creer une nouvelle saison', new_saison_path %>