<% title "Analytic" %>

<%= link_to "Export Excel", :controller => "print", :action => 'export' %> | 

<%#= link_to_function "Show Search",  toggle_div(:search) %>
<br /><br />

<div id="search" style="display: none;">
	<%= render :partial => 'search' %>
</div>


<% unless @display == 0 %>
	<%= render(:partial => "print_basic") %>
<% end %>

