<!-- <div id='search'> -->
<% form_tag :action => 'categories' do %> 
	<%= select_tag(:column, options_for_select(%w{ Typeculture Parcelle Zone }, params[:column])) %>	<br>
	
	<%= check_box_tag :reload_cache %>
	
	<%= submit_tag :'Mettre a jour' %>
<% end %>

<!-- </div> -->