<p>
  <b>Nom:</b>
  <%=h @category.name %>
</p>

<p>
  <b>Type:</b>
  <%=h @category.upcategory.name %>
</p>


<%= link_to 'Modifier', edit_category_path(@category) %> |
<%= link_to 'Retour', categories_path %>
