<div id="bloc_up">

	<% if logged_in? %>
		  	saison <strong><%= Saison.find(Application::SAISON).name %></strong> |
		  	<%= session[:user_login] %> | 
		  	<%= ENV['RAILS_ENV'].to_s %> | 
			<%= link_to 'Logout', session_path, :method => :delete %>
	<% end %>

</div>

